.aboutBlockAll{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    
}

.aboutBlock{
    max-width: 613px;
    width: 100%;
    height: 249px;
    background-image: url(../images/p3-3.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 50px;
    flex-direction: column;
    padding: 30px 25px 10px 25px;
}
.blockText01{
    font-size: 28px;
    font-weight: bold;
    color: #1F94D8;
    text-align: center;
}
.aboutBlockText02{
    width: 100%;
    display: flex;
    margin: 10px 0;
    align-items: flex-start
}
.aboutBlockIcon{
    margin-right: 20px;
}
.blockBg03{
    width: 100%;
    padding: 30px 0;
}
#example{
    background-color: #F6FAFE;
}
#tuition{
    background-color: #E4EDF8;
}
#application{
    background-image: linear-gradient(to bottom, #8FBAE6 0%, #529BE5 100%);
}

#applicationButton{
    color: #2C6EB1;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in-out;
    background-image: linear-gradient(to bottom, #FFFDB9 , #F1D259);
    border-radius: 45px;
    border: none;
    padding: 10px 65px;
    cursor: pointer;
    margin: 0px auto 10px;
}
#applicationButton a{
    text-decoration: none;
    color: #2C6EB1;
}

#applicationButton img{
    margin-left: 15px;
}
#applicationButton:hover{
    transform: scale(1.02);
}
