.footerBlock{
    border: 1px solid #E3EDF9;
    width: 100%;
    background-color: #E3EDF9;
    height: 100%;
    position: relative;
}

.footerText{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
    /* max-width: 600px; */
    width: 95%;
}
.footerLOGO{
    max-width: 317px;
    width: 90%;
    margin-bottom: 30px;
}
.footerText01{
    font-size: 22px;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    text-align: center;
}

.footerText02{
    color: #A3A6AA;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 3px;
    text-align: center;
}

.QRcode{
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 3%;
    transition: all .1s ease-in ;
    max-width: 219px;
    width: 100%;
}

.QRcode:hover{
    transform:  translateY(-50%) scale(1.02);
}

.QRcode a{
    display: block;
}

.QRcode img{
    width: 100%;
}

@media screen and (max-width: 1600px){
    .footerText01{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .footerText02{
        font-size: 18px;
    }
}

@media screen and (max-width: 1400px){
    .footerText{
        margin: 50px auto;
    }
    .footerLOGO{
        max-width: 300px;
        margin-bottom: 25px;
    }
    .footerText01 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .footerText02 {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px){
    .QRcode{
        max-width: 180px;
    }
    .footerLOGO{
        margin-bottom: 20px;
    }
    .footerText01 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .footerText {
        margin: 40px auto;
    }
}
@media screen and (max-width: 1000px){
    .footerLOGO{
        max-width: 270px;
        margin-bottom: 10px;
    }
    .QRcode{
        display: none;
    }
}
@media screen and (max-width: 800px){
    .footerLOGO {
        max-width: 250px;
    }
    .footerText01 {
        font-size: 16px;
        margin-bottom: 2px;
    }
    .footerText02 {
        font-size: 14px;
    }
    .footerText {
        margin: 30px auto;
    }
}
@media screen and (max-width: 600px){
    .footerLOGO {
        max-width: 200px;
        margin-bottom: 3px;
    }
    .footerText01 {
        font-size: 12px;
        margin-bottom: 0px;
        line-height: 32px;
    }
    .footerText02 {
        font-size: 12px;
        line-height: 20px;
    }
}
@media screen and (max-width: 400px){
    .footerLOGO {
        max-width: 190px;
        margin-bottom: 5px;
    }
    .footerText {
        margin: 20px auto;
    }
    .footerText01 {
        line-height: 24px;
        letter-spacing: 1px;
    }
    .footerText02 {
        line-height: 24px;
        letter-spacing: 1px;
        line-height: 22px;
    }
}

