.indexBanner{
    padding-top: 128px ;
    position: relative;
}

.indexBanner img{
    width: 100%;
}

.bannerText{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 10%;
    font-size: 60px;
    line-height: 80px;
    font-weight: bold;
    color: #FFFBFC;
    text-shadow: #00000059 0px 3px 6px;
}

.studyAbroadStep{
    margin: 70px auto 20px;
    display: flex;
    justify-content: space-evenly;
}
.stepIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    margin: 20px;
    /* max-width: 360px;
    margin: 10px 30px; */
}
.stepBlock{
    width: 100%;
    display: flex;
    margin: 20px;
    max-width: 360px;
}
.stepNumber{
    font-size: 58px;
    font-weight: bold;
    color: #81C0D8;
    margin: 0 15px;
}

#languageCenter{
    background: #D6E4F3;
}

#newsBlock{
    background: #FFFFBE;
}

.newsBlock{
    /* border: 1px solid red; */
    width: 90%;
    margin: 40px auto 40px;
    max-width: 1300px;
}

.news{
    color: #1660AB;
    font-size: 22px;
    display: flex;
    margin: 20px 0;
}

.newsTitle{
    margin: 0 20px;
}

.blockBg{
    width: 100%;
    padding: 20px 0 0px;
}
.teacherBlock{
    width: 100%;
    background-image: url(../images/index-7.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
}

.teacherInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.teacherPicture{
    max-width: 387px;
    width: 80%;
    margin: 20px;
}

.teacherName{
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
}

.teacherEducation{
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}

.teacherExperience{
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    margin-top: 15px;
}
.teacherWordsAll{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 34px;
}
.teacherWords{
    max-width: 387px;
    width: 100%;
    height: 266px;
    background-image: url(../images/index-8.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
    border-radius: 12%;
    transition: all .2s ease-in ;
}
.teacherWords:hover{
    background-image: url(../images/index-9.svg);
}

.teacherWords a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12%;
}

.teacherWordsBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.teacherWordsIcon{
    margin: 15px;
    max-width: 108px;
    width: 80%;
    height: 86px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .2s ease-in ;
}

#teacherWordsIcon01{
    background-image: url(../images/index-10.svg);
}
.teacherWords:hover #teacherWordsIcon01{
    background-image: url(../images/index-10-hover.svg);
}
#teacherWordsIcon02{
    background-image: url(../images/index-11.svg);
}
.teacherWords:hover #teacherWordsIcon02{
    background-image: url(../images/index-11-hover.svg);
}
#teacherWordsIcon03{
    background-image: url(../images/index-12.svg);
}
.teacherWords:hover #teacherWordsIcon03{
    background-image: url(../images/index-12-hover.svg);
}

.teacherWordsTitle{
    color: #3281D1;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: all .2s ease-in ;
}
.teacherWords:hover .teacherWordsTitle{
    color: #ffffff;
}
.rightArrow{
    background-image: url(../images/rightArrow.svg);
    margin-left: 15px;
    width: 24px;
    height: 21px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .2s ease-in ;
}

.teacherWords:hover .rightArrow{
    background-image: url(../images/rightArrow-hover.svg);
}
@media screen and (max-width: 1600px) {
    .bannerText{
        font-size: 50px;
        line-height: 74px;
    }

    .stepNumber{
        font-size: 54px;
    }
    .news{
        font-size: 20px;
    }
    .teacherName{
        font-size: 28px;
    }
    .teacherEducation{
        font-size: 20px;
    }
    .teacherExperience{
        font-size: 20px;
    }
    .teacherWordsTitle{
        font-size: 28px;
    }
}
@media screen and (max-width: 1400px){
    .bannerText {
        font-size: 46px;
        line-height: 70px;
    }
    .indexBanner{
        padding-top: 110px;
    }
    .stepNumber {
        font-size: 52px;
    }
    .teacherPicture{
        max-width: 350px;
    }
    .teacherName{
        font-size: 26px;
    }
    .teacherEducation{
        font-size: 18px;
    }
    .teacherExperience{
        font-size: 18px;
        margin-top: 10px;
    }
    .teacherWordsTitle{
        font-size: 26px;
    }
    .teacherWords{
        max-width: 350px;
        height: 240px;
    }
}
/* * Extra large devices */ 
@media screen and (max-width: 1200px) {
    .indexBanner {
        padding-top: 90px;
    }
    .teacherWords {
        max-width: 280px;
        height: 200px;
    }
    .teacherWordsIcon{
        max-width: 94px;
        height: 70px;
        margin: 12px;
    }
}

/* desktops */
@media (max-width: 1000px) {
    .indexBanner {
        padding-top: 60px;
    }
    .bannerText {
        font-size: 40px;
        line-height: 60px;
        right: 6%;
    }
    .blockTitle {
        font-size: 28px;
    }

    .stepNumber {
        font-size: 45px;
        margin: 0 10px;
    }
    .stepIcon{
        /* max-width: 330px; */
    }
    .teacherPicture {
        max-width: 300px;
    }
    .teacherName {
        font-size: 24px;
        line-height: 40px;
    }
    .teacherExperience {
        font-size: 16px;
        margin-top: 6px;
        line-height: 30px;
    }
    .teacherWords {
        max-width: 230px;
        height: 150px;
    }
    .teacherWordsIcon {
        max-width: 80px;
        height: 61px;
        margin: 5px;
    }
    .teacherWordsTitle {
        font-size: 24px;
    }
    .teacherWordsBlock{
        margin-bottom: 5px;
    }
    .rightArrow{
        margin-left: 10px;
        width: 16px;
        height: 16px;
    }
    .studyAbroadStep {
        margin: 50px auto 20px;
    }
}

/* tablets */
@media (max-width: 800px) {

    .studyAbroadStep{
        flex-wrap: wrap;
    }
    .teacherPicture {
        max-width: 220px;
    }
    .teacherName {
        font-size: 20px;
        line-height: 34px;
    }
    .teacherEducation {
        font-size: 16px;
        line-height: 28px;
    }
    .studyAbroadStep {
        margin: 40px auto 20px;
    }
    .teacherBlock{
        margin-top: 160px;
    }
    .teacherInfo{
        margin-top: -130px;
        margin-bottom: 50px;
    }
    .teacherExperience {
        font-size: 14px;
        margin-top: 6px;
        line-height: 26px;
    }
    .teacherWordsAll{
        flex-wrap: wrap;
    }
    .teacherWordsTitle {
        font-size: 22px;
    }
    .bannerText {
        font-size: 26px;
        line-height: 36px;
        right: 6%;
    }
    .stepIcon{
        width: 40%;
    }
    .stepBlock{
        max-width: none;
        margin: 14px;
    }
}

/* phones */
@media (max-width: 600px) {
    .teacherPicture {
        max-width: 200px;
    }
    .teacherBlock{
        flex-direction: column;
    }
    .teacherInfo{
        margin-top: 0;
    }
    .teacherBlock{
        margin-top: 0;
    }
    .stepIcon{
        margin: 10px;
        width: 70%;
    }
    .bannerText {
        font-size: 18px;
        line-height: 26px;
        right: 4%;
        top: 54%;
    }
}

@media (max-width: 400px){
    .stepBlock{
        margin: 10px;
    }
    .stepNumber {
        font-size: 35px;
    }
    .teacherWords{
        margin: 14px;
    }
}