
.teachingMethod{
    text-align: center;
    padding: 0 20px;
}
.blockBg02{
    width: 100%;
    padding: 50px 0 ;
}
#introducevideoBlock{
    padding: 0 20px;
}

#listeningPractice{
    background-color: #F6FAFE;
}

#conversationPractice{
    background-color: #DBEAF3;
}

.blockBg02Picture{
    max-width: 1560px;
    width: 90%;
    margin: 20px auto;
}

.blockBg02Picture img{
    width: 100%;
}
table{
    margin: 40px auto;
    max-width: 1000px;
    width: 100%;
}

table, tr, th, td {
    border: 1px solid #1F94D8;
    text-align: center;
    font-size: 25px;
    padding: 10px 30px;
    line-height: 30px;
    vertical-align: middle;
}
.text-align-left{
    text-align: left;
}

thead{
    background-color: #DBEAF3;
}

.blue{
    color: #1F94D8;
}
.orange{
    color: #BC4027;
}

.font-weight-bold{
    font-weight: bold;
    text-align: center
}
@media (max-width: 1200px){
    table, tr, th, td{
        font-size: 23px;
        padding: 10px 25px;
    }
}
@media (max-width: 1000px){
    table, tr, th, td{
        font-size: 20px;
        padding: 10px 20px;
    }
}
@media (max-width: 800px){
    table, tr, th, td{
        font-size: 18px;
        padding: 10px 10px;
    }
}
@media (max-width: 600px){
    .teachingMethod {
        text-align: left;
    }

}

nav ul li:nth-child(1) a{
    color:#3281D1;
}
