.stepNumber02{
    font-size: 58px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 15px;
}

.tabBlock{
    max-width: 1600px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly
}
.tabStep{
    max-width: 411px;
    width: 100%;
    margin: 10px 20px 20px 20px;
}
.tab{
    max-width: 411px;
    width: 100%;
    height: 107px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.tab01-0{
    background-image: url(../images/p2-1-0.svg);
    padding: 10px 30px 10px 0px;
}

.tab02-0{
    background-image: url(../images/p2-2-0.svg);
    padding: 10px 30px 10px 0px;
}
.tab01{
    background-image: url(../images/p2-2.svg);
    padding: 10px 30px 10px 30px;
}
.tab02{
    background-image: url(../images/p2-1.svg);
    padding: 10px 30px 10px 30px;
}

#studentThoughtsBlock{
    background-color: #F6FAFE;
    margin-top: 50px;
}

.studentThoughtsAll{
    width: 100%;
    margin: 50px auto;
}
.studentThoughts{
    max-width: 1332px;
    width: 90%;
    height: 581px;
    background-image: url(../images/p2-5.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 120px auto 70px;
    position: relative;
    padding: 65px;
}

.studentThoughts::before{
    width: 134px;
    height: 134px;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform:  translate(-50%,-50%);
    z-index: 1;
}
#studentThoughts01::before{
    background-image: url(../images/p2-3.svg);
}
#studentThoughts02::before{
    background-image: url(../images/p2-4.svg);
}

.bigFont{
    font-size: 30px;
    line-height: 60px;
}

.studentThoughtsStepText{
    width: 100%;
    color: #7B7B7B;
    font-weight: bold;
    font-size: 25px;
    line-height: 45px;
}

@media screen and (max-width: 1600px){
    .stepNumber02 {
        font-size: 54px;
    }
    .stepText03{
        line-height: 40px;
    }
    .tabStep {
        max-width: 400px;
    }
    .studentThoughtsStepText{
        font-size: 23px;
        line-height: 42px;
    }
    .bigFont {
        font-size: 28px;
    }
    .studentThoughts{
        max-width: 1250px;
        /* background-size: contain; */
    }
}

@media screen and (max-width: 1400px){
    .studentThoughtsStepText {
        font-size: 20px;
        line-height: 38px;
    }
    .studentThoughts{
        height: unset;
        padding: 55px;
        /* background-position: center bottom; */
    }
}

@media screen and (max-width: 1200px){
    .tabStep {
        max-width: 380px;
    }
    .studentThoughts{
        max-width: 1290px;
        /* background-size: contain; */
    }
}

@media screen and (max-width: 1000px){
    .tabStep {
        max-width: 360px;
    }
    .stepNumber02 {
        font-size: 46px;
    }
    .bigFont {
        font-size: 26px;
        /* line-height: 50px; */
    }
    .studentThoughtsStepText{
        line-height: 36px;
    }
    .studentThoughts::before{
        width: 120px;
        height: 120px;
    }
    .studentThoughts{
        padding: 70px 45px 65px 45px;
    }
}
@media screen and (max-width: 800px){
    .studentThoughts::before{
        width: 100px;
        height: 100px;
    }

}
@media screen and (max-width: 600px){


    .stepNumber02 {
        font-size: 42px;
    }
    .tab01-0 {
        padding: 5px 30px 5px 0px;
    }
    .tab01 {
        
        padding: 5px 30px 5px 30px;
    }
    .tab02 {
        padding: 5px 30px 5px 30px;
    }
    .tab02-0 {
        padding: 5px 30px 5px 0px;
    }
    .studentThoughts {
        padding: 65px 10px 65px 10px;
    }
    .studentThoughtsStepText {
        line-height: 34px;
        width: 95%;
    }
}

@media screen and (max-width: 400px){
    .tabStep {
        margin: 10px 15px 20px 15px;
    }
    .tab{
        height: 80px;
    }
    .studentThoughtsStepText {
        width: 95%;
        font-size: 18px;
    }
}

nav ul li:nth-child(2) a{
    color:#3281D1;
}