.stepNumber02{
    font-size: 58px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 15px;
}

.tabBlock{
    max-width: 1333px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.tabStep{
    max-width: 411px;
    width: 100%;
    margin: 10px auto 30px ;
}
.tab{
    max-width: 411px;
    width: 100%;
    height: 107px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.tab01-0{
    background-image: url(../images/p2-1-0.svg);
    padding: 10px 30px 10px 0px;
}

.tab02-0{
    background-image: url(../images/p2-2-0.svg);
    padding: 10px 30px 10px 0px;
}
.tab01{
    background-image: url(../images/p2-2.svg);
    padding: 10px 30px 10px 30px;
}
.tab02{
    background-image: url(../images/p2-1.svg);
    padding: 10px 30px 10px 30px;
}

#studentThoughtsBlock{
    background-color: #F6FAFE;
}

.studentThoughtsAll{
    width: 100%;
    margin: 50px auto;
}
.studentThoughts{
    max-width: 1332px;
    width: 90%;
    height: 581px;
    background-image: url(../images/p2-5.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 120px auto 70px;
    position: relative;
    padding: 65px;
}

.studentThoughts::before{
    width: 134px;
    height: 134px;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform:  translate(-50%,-50%);
    z-index: 1;
}
#studentThoughts01::before{
    background-image: url(../images/p2-3.svg);
}
#studentThoughts02::before{
    background-image: url(../images/p2-4.svg);
}

.bigFont{
    font-size: 30px;
    line-height: 60px;
}