body{
    font-family: 思源黑體 , 微軟正黑體 , 蘋方黑體 , 華康麗黑體 , Helvetica , Arial , sans-serif , serif;
}

.block{
    /* border: 1px solid red; */
    width: 100%;
    padding: 20px 20px;
}
.blockBg02 {
    width: 100%;
    padding: 50px 0;
}


.blockTitle{
    color: #1F94D8;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    margin: 30px auto;
}

.blockTitle span{
    margin: 0 15px;
}
.blockTitle02{
    color: #1F94D8;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin: 50px auto 30px;
}
.blockTitle02 span{
    line-height: 45px;
}

.blockTitle03{
    color: #000000;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin: 10px auto 10px;
}
.blockTitle04{
    color: #1F94D8;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin: 30px auto 20px;
}

.blockText{
    color: #1F94D8;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 50px auto 30px;
    line-height: 45px;
    margin: 20px auto;
}
.blockText02{
    /* max-width: 750px; */
    /* width: 90%; */
    color: #7B7B7B;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    margin: 10px auto ;
}
.stepText{
    /* max-width: 319px; */
    width: 100%;
    color: #7B7B7B;
    font-weight: bold;
    font-size: 25px;
    line-height: 45px;
}
.stepText02{
    max-width: 1000px;
    width: 100%;
    color: #7B7B7B;
    font-weight: bold;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    margin: 0 auto 30px;
}
.stepText03{
    max-width: 1000px;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    line-height: 45px;
}
.videoBlock{
    width: 95%;
    max-width: 874px;
    margin: 40px auto 80px;
}
.video{
    /* border: solid 1px rgb(251, 251, 251); */
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    /* margin: 30px; */
    width: 100%;
}

.videoBlock iframe{
    /* border: solid 1px rgb(251, 251, 251); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Banner02{
    padding-top: 128px ;
    position: relative;
}

.Banner02 img{
    width: 100%;
}

.Banner02Text{
    position: absolute;
    transform: translateY(-50%);
    top: 78%;
    right: 0%;
    font-size: 60px;
    line-height: 80px;
    font-weight: bold;
    color: #1F94D8;
    /* text-shadow: #00000059 0px 3px 6px; */
    background-color: #FCFCFC;
    padding: 20px 60px 20px 50px;
}


@media screen and (max-width: 1600px) {

    .blockTitle{
        font-size: 32px;
    }
    .stepText{
        font-size: 23px;
    }

}

@media screen and (max-width: 1400px){
    .Banner02{
        padding-top: 110px;
    }
    .blockTitle{
        font-size: 31px;
    }
    .stepText {
        font-size: 21px;
    }
    .videoBlock{
        max-width: 850px;
    }

}
@media screen and (max-width: 1200px){
    .Banner02 {
        padding-top: 90px;
    }
}
@media screen and (max-width: 1000px){
    .blockTitle{
        font-size: 28px;
    }
    .Banner02 {
        padding-top: 60px;
    }
    .stepText {
        font-size: 19px;
        line-height: 36px;
    }

    .videoBlock {
        max-width: 800px;
    }
}

@media screen and (max-width: 800px){
    .blockTitle{
        margin: 20px auto;
        font-size: 26px;
    }
    .news {
        font-size: 18px;
    }
    .videoBlock {
        max-width: 600px;
        margin: 40px auto 50px;
    }


    .stepText {
        font-size: 18px;
        line-height: 32px;
    }
    
}

@media screen and (max-width: 600px){
    .videoBlock{
        margin: 40px auto 30px;
    }
    .blockTitle{
        margin: 15px auto;
        font-size: 24px;
        line-height: 36px;
    }
    .studyAbroadStep {
        margin: 30px auto 20px;
    }
    .blockTitle span {
        margin: 0px 10px;
    }
    .blockTitle img{
        width: 70px;
    }
    .stepText {
        font-size: 16px;
        line-height: 28px;
    }
}

@media screen and (max-width: 400px){
    .blockTitle{
        font-size: 22px;
    }
    .blockTitle img {
        width: 60px;
    }
    .studyAbroadStep {
        margin: 20px auto 20px;
    }
}